@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 100% 97%;
    --foreground: 260 10% 20%;
    --card: 261 100% 100%;
    --card-foreground: 260 10% 20%;
    --popover: 261 100% 100%;
    --popover-foreground: 260 10% 20%;
    --primary: 279 69% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 100% 92%;
    --secondary-foreground: 279 69% 61%;
    --muted: 261 100% 95%;
    --muted-foreground: 260 10% 40%;
    --accent: 193 72% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 100% 90%;
    --input: 261 100% 90%;
    --ring: 279 69% 61%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 260 10% 10%;
    --foreground: 261 100% 97%;
    --card: 260 10% 12%;
    --card-foreground: 261 100% 97%;
    --popover: 260 10% 10%;
    --popover-foreground: 261 100% 97%;
    --primary: 279 69% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 10% 15%;
    --secondary-foreground: 279 69% 61%;
    --muted: 260 10% 15%;
    --muted-foreground: 261 100% 90%;
    --accent: 193 72% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 10% 20%;
    --input: 260 10% 20%;
    --ring: 279 69% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
